{% extends 'base.html.twig' %}

{% block title %}Super site dynamique !!{% endblock %}

{% block body %}
    <div class="page homepage">
        <main>
            <img src={{ asset('images/main-background.jpg') }} alt="Des personnes lèvent les mains en l'air durant un concert de nuit" />
            <div class="overlay">
                <header>
                    <twig:FancyUnderlinedText>
                        {% if app.user %}
                            <a class="connection-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% else %}
                            <a class="connection-link" href="{{ path('app_login') }}">Se connecter</a>
                        {% endif %}
                    </twig:FancyUnderlinedText>
                </header>
                <h1>Rejoignez nos<br />
                    événements, et <br />
                    mettons l’ambiance</h1>
                <p>Nous sommes une organisation qui planifie des concerts dans les Hauts-de-France pour des levées de fonds.</p>
                <twig:Button:Link href="#evenements">Voir les événements</twig:Button:Link>
            </div>

            <div class="main-image-transition"></div>
        </main>
        <section id="evenements">
            <div class="container-section-title">
                <twig:FancyUnderlinedText>
                    {% if showingEventsOfUser %}
                        <h2>Vos événements ({{ count }})</h2>
                    {% else %}
                        <h2>Les événements prévus ({{ count }})</h2>
                    {% endif %}
                </twig:FancyUnderlinedText>
            </div>
            <p>Les événements sont triés dans l’ordre chronologique par défaut. Vous pouvez affiner cela en choisissant un intervalle de dates :</p>
            <!-- action="#evenements" permet de scroller automatiquement vers la grille des événements au rechargement de la page après soumission du formulaire -->
            <form method="GET" action="#evenements">
                {% if showingEventsOfUser %}
                    <input type="hidden" name="own" />
                {% endif %}
                <!-- la soumission de ce formulaire remet "page" à 0 -->
                <p>
                    Sélectionner les événements du&nbsp;
                    <input type="date" placeholder="jj/mm/aaaa" title="Date minimale" name="debut" value="{{ debut }}" />
                    &nbsp;au&nbsp;
                    <input type="date" placeholder="jj/mm/aaaa" title="Date maximale" name="fin" value="{{ fin }}" />
                    &nbsp;
                    <input type="submit" value="Appliquer" />
                    {% if debut or fin %}
                        <a href="{{ path('index') }}#evenements" class="reset-filters">
                            <button type="button">Réinitialiser</button>
                        </a>
                    {% else %}
                        <input type="reset" value="Réinitialiser" />
                    {% endif %}
                </p>
            </form>
            {% if app.user %}
                {% if showingEventsOfUser %}
                    <p>Voir <a href="{{ path('index') }}#evenements">tous les événements</a> ?</p>
                {% else %}
                    <p>Voir uniquement <a href="{{ path('index') }}?own#evenements">vos événements</a> (événements auxquels vous êtes inscrits) ?</p>
                {% endif %}
            {% endif %}
            <div class="event-grid">
                {% if events|length > 0 %}
                    {% for event in events %}
                        <form method="POST" action="{{ path('post_subscriptions') }}" class="event-card">
                            <h3>{{ event.title }}</h3>
                            <div></div>
                            <p>Lieu : {{ event.location }}</p>
                            <p>Du {{ event.beginDate|date("d/m/Y", "Europe/Paris") }} au {{ event.endDate|date("d/m/Y", "Europe/Paris") }}</p>
                            <p>{{ event.description }}</p>
                            {% if app.user %}
                                <div class="event-card-actions">
                                    <input type="hidden" name="event" value="{{ event.id }}">
                                    {% if event.author.id == app.user.id %}
                                        <input type="hidden" name="delete" />
                                        <button type="button" onclick="handleEventModification('{{ stringifyEvent(event) }}')">Modifier</button>
                                        <button type="submit" formaction="{{ path('post_events_submissions') }}">Supprimer</button>
                                    {% else %}
                                        {% if hasSubscriber(event, app.user) %}
                                            <input type="hidden" name="registered" value="true" />
                                            <input type="submit" value="Se désinscrire" />
                                        {% else %}
                                            <input type="hidden" name="registered" value="false" />
                                            <input type="submit" value="S'inscrire" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </form>
                    {% endfor %}
                {% else %}
                    {% if page * eventsPerPage > count %}
                        <!-- la page dans l'URL est trop grande -->
                        <p class="no-event-message">Oh non, il n'y a rien à charger pour cette page. <a href="{{ path('index') }}">Mettre à jour</a>.</p>
                    {% else %}
                        {% if debut or fin %}
                            <p class="no-event-message">Oh non, il n'y a aucun événement pour la plage de dates données !</p>
                        {% else %}
                            <p class="no-event-message">Oh non, il n'y a aucun événement !</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            {% if events|length > 0 %}
                <div class="pages-controls">
                    {% if page > 0 %}
                        <form class="page-container" method="GET" action="#evenements">
                            {% if debut %} <input type="hidden" value="{{ debut }}" name="debut" /> {% endif %}
                            {% if fin %} <input type="hidden" value="{{ fin }}" name="fin" /> {% endif %}
                            {% if showingEventsOfUser %} <input type="hidden" name="own" /> {% endif %}
                            <input type="hidden" name="page" value="{{ page - 1 }}" />
                            <button type="submit">
                                &lt; Page {{ page }}
                            </button>
                        </form>
                    {% else %}
                        <div></div>
                    {% endif %}
                    {% if (page * eventsPerPage + eventsPerPage < count) %}
                        <form class="page-container" method="GET" action="#evenements">
                            {% if debut %} <input type="hidden" value="{{ debut }}" name="debut" /> {% endif %}
                            {% if fin %} <input type="hidden" value="{{ fin }}" name="fin" /> {% endif %}
                            {% if showingEventsOfUser %} <input type="hidden" name="own" /> {% endif %}
                            <input type="hidden" name="page" value="{{ page + 1 }}" />
                            <button type="submit">
                                Page {{ page + 2 }} &gt;
                            </button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </section>
        <footer>
            <twig:FooterBackgroundImage />
            <div class="footer-content">
                <div>
                    <h2>
                        Partagez<br />
                        vos<br />
                        événements
                    </h2>
                    <div class="social-media-container">
                        <a href="#">
                            <img src={{ asset('images/icons/youtube-icon.svg') }} alt="" />
                            <span>Youtube</span>
                        </a>
                        <a href="#">
                            <img src={{ asset('images/icons/facebook-icon.svg') }} alt="" />
                            <span>Facebook</span>
                        </a>
                        <a href="#">
                            <img src={{ asset('images/icons/twitter-icon.svg') }} alt="" />
                            <span>Twitter</span>
                        </a>
                        <a href="#">
                            <img src={{ asset('images/icons/insta-icon.svg') }} alt="" />
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="#">Mentions légales</a>
                    <a href="#">Politique de confidentialité</a>
                    <a href="#">Conditions générales</a>
                </div>
            </div>
        </footer>
        {% if app.user and app.user.canCreateEvents %}
            <button class="button-add-event" type="button" id="show-modal">
                CLIQUE
            </button>
        {% endif %}
    </div>

    {% if app.user %}
        <twig:Modal />
        
        <script>
            const modal = document.querySelector("dialog");
            const showButton = document.querySelector("#show-modal");
            const closeButtons = document.querySelectorAll("[data-close-modal]");

            showButton.addEventListener("click", () => modal.showModal());
            for (const btn of closeButtons) {
                btn.addEventListener("click", () => modal.close());
            }

            function handleEventModification(stringifiedEvent) {
                try {
                    const parsed = JSON.parse(stringifiedEvent);
                    modal.querySelector("input[name='event']").value = parsed.id;
                    modal.querySelector("input[name='title']").value = parsed.title;
                    modal.querySelector("input[name='location']").value = parsed.location;
                    modal.querySelector("input[name='beginDate']").value = parsed.beginDate;
                    modal.querySelector("input[name='endDate']").value = parsed.endDate;
                    modal.querySelector("textarea[name='description']").value = parsed.description;
                    modal.showModal();
                } catch (e) {
                    console.error(e);
                    alert("Impossible de modifier cet événement.");
                }
            }
        </script>
    {% endif %}
{% endblock %}
